.house {
    width: 100%;
    height: 600px;
    background-image: url(../../images/house__image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    padding: 266px 75px 266px 1080px;
}